body{ 
	font-size: 12px;
	font-family: Arial, Helvetica, Sans-Serif;
	background: #ffffff;
}

p{
	font-size: 14px;
	font-family: Arial, Helvetica, Sans-Serif;
	color: #3d3d3d;
}

a{
	text-decoration: none;
	color: #0055B3;
}

a:hover{
	text-decoration: none;
	padding: 5px 10px 5px 10px;
	background-color: #FF0004;
	border-radius: 5px;
}

a:visited{
	color: #A1320D;
}

.left{
	float: left;
}

.right{
	float: right;
}

.header{
	width: 70%;
	height: 110px;
	margin: 0 auto;
	border-bottom: 1px solid #4F4745;
	position: relative;
}

.logo{
	margin-top: 50px;
}

.menu ul{
	margin-top: 50px;
}

.menu ul{
	list-style: none;
	float: left;
}

.menu ul li{
	display: inline;
	font-size: 20px;
	padding: 0 50px 0 0; 
}

.menu ul li.last{
	border: 0;
}

.menu ul a{
	color: #685d5d;
}

.menu ul a:hover{
	text-decoration: none;
	background: #fd3801;
}

.carousel{
	width: 70%;
	height: 300px;
	margin: 0 auto;
	margin-bottom: 3.5em;
	background-image: url(../img/content_pic.jpg);
}

.carousel p{
	font-family: Sans-Serif, Arial, Helvetica;
	font-size: 30pt;
	color: #FFF;
	font-style: italic;
	text-align: center;
	padding-top: 1em;
}

.main{
	width: 70%;
	height: 350px;
	margin: 0 auto;
}

.content{
	display:inline;
	width:67%;
}

.content h1{
	font-size: 18px;
	color:#FF0004;
}

.main-post{
	padding-bottom: 20px;
}

.post{
	display:inline;
	width: 45%;
}

#text{
	text-align: justify;
	padding-top: 5px;
}

.sidebar{
	display:inline;
	width:30%;
}

.sidebar h2 { 
	font-size: 18px; 
	padding-bottom: 15px; 
}
.sidebar h3 { 
	font-size: 12px; 
	font-weight: bold;
	padding-bottom: 5px;
}
.sidebar .item { 
	padding-bottom: 0 0 17px 4px; 
}
.sidebar .date { 
	font-size: 10px; 
	color: #fd3801; 
}

.item p{
	padding-bottom: 5px;
}

.footer{
	width:70%;
	height:30px;
	margin: 0 auto;
	padding-top:10px;
	border-top: 1px solid #4F4745;
}

.footer-nav ul{
	list-style: none;
	float: left;
}

.footer-nav ul li{
	display: inline;
	font-size: 10px;
	border-right: 1px solid #4F4745;
	padding: 0 6px 0 0; 
	margin:  0 6px 0 0;
}

.footer-nav ul li.last{
	border: 0;
}

.footer-nav ul a{
	color: #685d5d;
}

.copy{
	display: inline; 
	font-size: 10px; 
	color: #685d5d;
}