/*========================================================================*/
/*	HTML elements														  */
/*========================================================================*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16pt;
  line-height: 1.7em;
  color: #000;
  background-color: #fafafa;
  display: block;
}
a {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
p {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
ul li {
  list-style: none;
}
ul li a {
  color: #4f4f4f;
}
ul li a:hover {
  color: #7dc01d;
  text-decoration: none;
}
/*========================================================================*/
/*	Header    															  */
/*========================================================================*/
header {
  background-color: #cfcfcf;
  color: #fff;
}
.contact_info,
.social_links {
  margin: 0;
}
.contact_info li,
.social_links li {
  padding: 5px;
  display: inline-block;
}
.contact_info li a,
.social_links li a {
  font-size: 10pt;
  line-height: 0.5em;
  letter-spacing: 0.2em;
  padding: 0 0.5em;
  vertical-align: middle;
}
.contact_info li a .fa,
.social_links li a .fa {
  margin-right: 0.7em;
}
/*========================================================================*/
/*	Navigation section: 												  */
/*========================================================================*/
.header_menu {
  background-color: #f3f3f3;
  height: 100%;
}
.header_menu .logo {
  height: 3.7em;
  display: table;
  padding-left: 1em;
}
.header_menu .logo a {
  font-size: 20pt;
  color: #33353d;
  display: table-cell;
  vertical-align: middle;
}
.header_menu .logo a .fa {
  font-family: 'FontAwesome';
  font-size: 19pt;
  color: #7dc01d;
  margin-right: 0.5em;
}
.header_menu .logo a:hover {
  text-decoration: none;
}
.header_menu .show-menu {
  padding: 10px 2em;
  display: none;
  float: right;
}
.header_menu .show-menu:before {
  font-family: 'FontAwesome';
  content: "\f0c9";
  font-size: 20pt;
  color: #7dc01d;
  font-weight: bold;
  margin-right: 0.5em;
}
.header_menu input[type=checkbox] {
  display: none;
  -webkit-appearance: none;
}
.header_menu input[type=checkbox]:checked ~ nav>ul {
  display: block;
}
.header_menu nav {
  height: 3.7em;
}
.header_menu nav .main_menu {
  height: inherit;
}
.header_menu nav .main_menu > li {
  display: inline-block;
  float: left;
  height: inherit;
  position: relative;
}
.header_menu nav .main_menu > li > a:hover {
  background-color: #42454a;
  color: #fff;
  text-decoration: none;
}
.header_menu nav .main_menu > li > a {
  display: table-cell;
  height: inherit;
  color: #33353d;
  padding: 0 1em;
  font-size: 15pt;
  font-weight: 300;
  line-height: 2.5em;
  text-align: center;
  border-right: 1px solid #dfdfdf;
  vertical-align: middle;
}
.header_menu nav .main_menu > li > a span:after {
  width: 0;
  height: 0;
  border: 0.313em solid transparent;
  border-bottom: none;
  border-top-color: #7dc01d;
  content: '';
  vertical-align: middle;
  display: inline-block;
  position: relative;
  right: -0.313em;
}
.header_menu nav .main_menu > li:first-child > a {
  border-left: 1px solid #dfdfdf;
}
.header_menu nav .main_menu li ul {
  background-color: #42454a;
  display: none;
  position: absolute;
  top: 97%;
}
.header_menu nav .main_menu li ul li a:hover,
.header_menu nav .main_menu li ul:not(:hover) li:active a {
  background-color: #fff;
  color: #33353d;
}
.header_menu nav .main_menu li ul a {
  display: block;
  width: 100%;
  color: #fff;
  font-size: 13pt;
  font-weight: 300;
  height: inherit;
  border-top: 1px solid #323436;
  line-height: 2.5em;
  padding: 0 1em;
  text-decoration: none;
}
.header_menu nav .main_menu li:hover ul {
  display: block;
  width: 100%;
  z-index: 100;
}
/*========================================================================*/
/*	Slider section: ;													  */
/*========================================================================*/
.flexslider {
  border: none !important;
  margin-bottom: 0 !important;
}
.flexslider img {
  position: relative;
}
.flexslider .text_wrap {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 40%;
}
.flexslider .text_wrap .text {
  background-color: rgba(0,0,0,0.6);
  width: 65%;
  margin: auto;
  padding: 0.5em 1em 1em 1em;
}
.flexslider .text_wrap .text h1 {
  font-size: 26pt;
  font-weight: 500;
  line-height: 1.5em;
  margin-bottom: 0.7em;
  color: #fff;
}
.flexslider .text_wrap .text p {
  font-size: 19pt;
  font-weight: 500;
  color: #000;
  line-height: 1.1em;
  color: #fff;
}
.flexslider .flex-control-nav {
  bottom: 5%;
  z-index: 10;
}
.flexslider .flex-control-nav li a {
  background: #32353a;
}
.flexslider .flex-control-nav li .flex-active {
  background: #7dc01d;
}
.flexslider .flex-direction-nav a.flex-prev:before {
  font-family: 'FontAwesome';
  content: '\f053';
  color: #fff;
}
.flexslider .flex-direction-nav a.flex-next:before {
  font-family: 'FontAwesome';
  content: '\f054';
  color: #fff;
}
/*========================================================================*/
/*	Features section													  */
/*========================================================================*/
.features {
  background-color: #fafafa;
  color: #8b8b8b;
  padding: 3em 0;
  font-size: 12pt;
}
.features h3 {
  text-align: center;
  margin-bottom: 2em;
}
.features .feature_left h4,
.features .feature_right h4 {
  font-size: 14pt;
  line-height: 1.5em;
  margin-bottom: 1em;
  color: #333;
}
.features .feature_left p,
.features .feature_right p {
  line-height: 1.3em;
}
.features .feature_left span,
.features .feature_right span {
  margin: 0.5em 0 1em 0;
  text-align: center;
  color: #fff;
}
.features .feature_left span i,
.features .feature_right span i {
  font-size: 1.1em;
  background-color: #7dc01d;
  border-radius: 100%;
  height: 3.5em;
  width: 3.5em;
  line-height: 3.5em;
  display: block;
  font-size: 1.75em;
  position: relative;
  text-align: center;
  top: 0;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.features .feature_left span i:hover,
.features .feature_right span i:hover {
  background-color: #32353a;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.features .feature_left h4,
.features .feature_left p {
  text-align: right;
  font-family: 'Roboto', sans-serif;
}
.features .feature_left h4 {
  font-weight: 500;
}
.features .feature_left p {
  font-weight: 300;
}
.features .feature_left span {
  margin-left: 2em;
  float: right;
}
.features .feature_right span {
  margin-right: 2em;
  float: left;
}
/*========================================================================*/
/*	Plans section														  */
/*========================================================================*/
.plans {
  background-color: #f3f3f3;
  color: #8b8b8b;
  padding: 3em 0;
  font-size: 12pt;
}
.plans h3 {
  text-align: center;
  margin-bottom: 2em;
}
.plans .plan {
  height: 100%;
  text-align: center;
  background-color: #fff;
  margin-bottom: 2em;
  margin-right: 20px;
  margin-left: 20px;
}
.plans .plan .plan_top {
  padding: 0.5em;
}
.plans .plan .plan_top h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 19pt;
  font-weight: 500;
  line-height: 1.5em;
  color: #000;
}
.plans .plan .plan_top p {
  font-family: 'Roboto', sans-serif;
  font-size: 25pt;
  font-weight: 500;
  line-height: 1.1em;
  color: #7dc01d;
}
.plans .plan .plan_bottom {
  margin-top: 1em;
  padding: 0 4em;
}
.plans .plan .plan_bottom ul li {
  border-bottom: 1px solid #f5f5f5;
  padding: 1em 0;
}
.plans .plan .plan_button {
  margin: 2.7em auto;
  width: 50%;
  background-color: #7dc01d;
  padding: 0.6em 1.5em;
  border-radius: 3px;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
.plans .plan .plan_button a {
  color: #fff;
  text-decoration: none;
}
.plans .plan .plan_button:hover {
  background-color: #32353a;
  -webkit-transition: all 200ms ease-in;
  -o-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
  cursor: pointer;
}
/*========================================================================*/
/*	Reviews section														  */
/*========================================================================*/
.reviews {
  background-color: #fafafa;
  color: #8b8b8b;
  padding: 3em 0;
  font-size: 12pt;
}
.reviews h3 {
  text-align: center;
  margin-bottom: 2em;
}
.reviews .slides {
  width: 50%;
  margin: auto;
}
.reviews .slides .review .comment {
  background-color: #cfcfcf;
  padding: 1.5em;
  text-align: justify;
  position: relative;
  margin: 0 1em;
}
.reviews .slides .review .comment .fa {
  text-align: left;
  position: absolute;
  left: 8%;
  top: 10%;
}
.reviews .slides .review .comment blockquote {
  border: none;
  margin: 0;
}
.reviews .slides .review .comment:after {
  content: "";
  position: absolute;
  border-top: 7px solid #cfcfcf;
  border-left: 7px solid transparent;
  border-bottom: 7px solid transparent;
  border-right: 7px solid transparent;
  bottom: -13px;
  left: 12%;
}
.reviews .slides .review .comment_info {
  text-align: left;
  width: 30%;
  display: inline-block;
  margin: 1em 0 0 1em;
}
.reviews .slides .review .comment_info img {
  width: 80%;
}
.reviews .slides .review .client_info {
  display: inline-block;
}
.reviews .slides .owl-controls {
  position: absolute;
  right: 2%;
  bottom: 31%;
}
.reviews .slides .owl-controls .owl-page span {
  background: #32353a;
}
.reviews .slides .owl-controls .owl-page.active span {
  background: #7dc01d;
}
/*========================================================================*/
/*	Blog posts section													  */
/*========================================================================*/
.blog_posts {
  background-color: #f3f3f3;
  color: #8b8b8b;
  padding: 3em 0;
  font-size: 12pt;
  min-height: 500px;
}
.blog_posts .title {
  text-align: center;
  margin-bottom: 3em;
}
.blog_posts .title h3 {
  font-size: 20pt;
  letter-spacing: 0.2em;
  color: #252525;
}
.blog_posts .blog_post {
  height: 100%;
  background-color: #fff;
  margin-bottom: 3em;
}
.blog_posts .blog_post figure {
  margin-bottom: 0.7em;
}
.blog_posts .blog_post figure img {
  width: 100%;
  height: auto;
}
.blog_posts .blog_post .post {
  margin: 1em 0;
  padding: 0 2em;
}
.blog_posts .blog_post .post h4 {
  text-align: center;
  font-size: 14pt;
  line-height: 1.5em;
  margin-bottom: 1em;
}
.blog_posts .blog_post .post p {
  text-align: justify;
  line-height: 1.5em;
  padding-bottom: 1em;
}
.blog_posts .blog_post .post .post_footer {
  height: 1em;
}
.blog_posts .blog_post .post .post_footer a {
  font-size: 9pt;
  color: #000;
}
.blog_posts .blog_post .post .post_footer a:hover {
  text-decoration: none;
}
.blog_posts .blog_post .post .post_footer i {
  font-family: 'FontAwesome';
  font-size: 9pt;
  color: #7dc01d;
  margin-right: 0.5em;
}
.blog_posts .blog_post .post .post_footer i:hover {
  text-decoration: none;
}
/*========================================================================*/
/*	Footer   															  */
/*========================================================================*/
footer {
  background-color: #32353a;
  color: #8b8b8b;
  padding-top: 2em;
  font-size: 12pt;
}
.footer_widget h3 {
  font-weight: 500;
  margin-bottom: 2em;
  font-size: 16pt;
  color: #fff;
}
.footer_widget p {
  font-size: 12pt;
  text-align: justify;
  line-height: 1.5em;
}
.footer_widget ul li {
  padding-bottom: 0.5em;
}
.footer_widget ul li a {
  color: #8b8b8b;
}
.footer_widget ul li a:hover {
  color: #7dc01d;
  text-decoration: none;
}
.footer_widget ul li:before {
  font-family: 'FontAwesome';
  content: "\f061";
  color: #7dc01d;
  font-weight: bold;
  margin-right: 0.5em;
}
.support {
  margin-left: 1em;
}
/*========================================================================*/
/*	Subscribe block 													  */
/*========================================================================*/
.email_block {
  margin: 1em 0;
  display: table;
  border-collapse: separate;
}
.email_block span {
  display: table-cell;
  width: 1%;
  vertical-align: top;
}
.email_block input[type="email"] {
  background: #42454a;
  border: medium none;
  border-radius: 3px 0 0 3px;
  color: #fff;
  height: 3em;
  padding-left: 1em;
  width: 100%;
  outline: none;
}
.email_block input[type="submit"] {
  background: #7dc01d;
  color: #fff;
  border: medium none;
  border-radius: 0 3px 3px 0;
  height: 3em;
  width: 3em;
  padding: 0;
  vertical-align: middle;
}
/*========================================================================*/
/*	Footer bottom  														  */
/*========================================================================*/
.footer_bottom {
  background-color: #1d1f21;
  padding: 2em;
}
.footer_bottom .social_wrap {
  float: right;
}
.footer_bottom .social_wrap li {
  padding: 0;
}
.copyright {
  font-size: 10pt;
}
.copyright a {
  color: #4f4f4f;
  font-weight: 500;
}
.copyright a:hover {
  color: #7dc01d;
  text-decoration: none;
}
