/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	.contact_info,
	.social_links {
		text-align: center;
		float: none;
	}
	.contact_info li,
	.contact_info li:last-child {
		border: none;
	}
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.footer_bottom .copyright {
		text-align: center;
	}
	.footer_bottom .social_wrap ul {
		float: none;
		text-align: center;
		padding-left: 0;
		margin-top: 20px;
	}
	.footer_bottom .social_wrap ul li {
		font-size: 30px;
	}
	
	.footer_widget h3,
	.footer_widget p{
		text-align: center;
	}
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}
/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
	.social_links {
		float: right;
	}
}
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}