/*========================================================================*/
/*	HTML elements														  */
/*========================================================================*/

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16pt;
	line-height: 1.7em;
	color: #000;
	background-color: #FAFAFA;
	display: block;
}

ul li {
	list-style: none;
}

a {
	color: #FFF;
	text-decoration: none;
}
/*========================================================================*/
/*	Grid       															  */
/*========================================================================*/

.container {
	margin: 0 auto;
	width: 85%;
}

.container:after,
.container:before,
.post_footer:after,
.post_footer:before{
	clear: both;
}

.right {
	float: right !important;
	padding-right: 0 !important;
}

.left {
	float: left !important;
}

.row {
	width: 100%;
}

.row:after,
.row:before {
	content: "";
	display: block;
	clear: both;
	height: 0;
}

.col-3 {
	width: 25%
}

.col-4 {
	width: 33.33333333%;
}

.col-5 {
	width: 41.66666667%
}

.col-7 {
	width: 58.33333333%
}

.col-8 {
	width: 66.66666667%;
}

.col-3,
.col-4,
.col-5,
.col-7,
.col-8 {
	float: left;
	padding-right: 15px;
	padding-left: 15px;
}
/*========================================================================*/
/*	Header    															  */
/*========================================================================*/

header {
	background-color: #1D1F21;
	color: #FFF;
}

.contact_info li {
	display: inline-block;
	border-left: 1px solid #323436;
}

.social_links li {
	display: inline-block;
}

.contact_info li:last-child {
	border-right: 1px solid #323436;
}

.contact_info li a,
.social_links li a {
	font-size: 9pt;
	line-height: 0.5em;
	letter-spacing: 0.2em;
	padding: 0 0.5em;
	vertical-align: middle;
}

.contact_info li a .fa,
.social_links li a .fa {
	margin-right: 0.7em;
}

.contact_info li a:hover,
.social_links li a:hover {
	color: #3C9B27;
}

select {
	background-color: #33353D;
	color: #FFF;
}
/*========================================================================*/
/*	Blog posts section													  */
/*========================================================================*/

.blog_posts {
	background-color: #EDEAEA;
	color: #8b8b8b;
	padding: 3em 0;
	font-size: 12pt;
}

.title {
	text-align: center;
	margin-bottom: 3em;
}

.title h3 {
	font-size: 20pt;
	font-weight: 500;
	letter-spacing: 0.2em;
	color: #252525;
}

.blog_post {
	min-height: 500px;
	background-color: #FFF;
	margin-right: 2em;
}

.blog_post figure {
	margin-bottom: 0.7em;
}

.blog_post figure img {
	width: 100%;
	height: auto;
}

.post {
	margin: 1em 0;
	padding: 0 2em;
}

.post h4 {
	text-align: center;
	font-size: 14pt;
	font-weight: 500;
	line-height: 1.5em;
	margin-bottom: 1em;
}

.post p {
	text-align: justify;
	line-height: 1.5em;
	padding-bottom: 1em;
}

.post_footer a {
	font-size: 9pt;
	color: #000;
}

.post_footer i {
	font-family: 'FontAwesome';
	font-size: 9pt;
	color: #3C9B27;
	margin-right: 0.5em;
}
/*========================================================================*/
/*	Footer   															  */
/*========================================================================*/

footer {
	background-color: #32353A;
	color: #8b8b8b;
	padding-top: 2em;
	font-size: 12pt;
}

.footer_widget h3 {
	font-weight: 500;
	margin-bottom: 2em;
	font-size: 16pt;
	color: #FFF;
}

.footer_widget p {
	font-size: 12pt;
	text-align: justify;
	line-height: 1.5em;
}

.footer_widget ul li a {
	color: #8b8b8b;
}

.footer_widget ul li a:hover {
	color: #3C9B27;
	font-weight: 500;
}

.footer_widget ul li:before {
	font-family: 'FontAwesome';
	content: "\f061";
	color: #3C9B27;
	font-weight: bold;
	margin-right: 0.5em;
}
/*========================================================================*/
/*	Subscribe input: ;													  */
/*========================================================================*/

.email_block {
	margin: 1em 0;
	display: table;
	border-collapse: separate;
}

input[type="email"] {
	background: #42454a;
	border: medium none;
	border-radius: 3px 0 0 3px;
	color: #fff;
	height: 3em;
	padding-left: 1em;
	width: 100%;
}

input[type="submit"] {
	background: #3C9B27;
	color: #fff;
	border: medium none;
	border-radius: 0 3px 3px 0;
	height: 3em;
	width: 3em;
	padding: 0;
	vertical-align: middle;
}

input[type="submit"]:hover {
	cursor: pointer;
}

.email_block span {
	display: table-cell;
	width: 1%;
	vertical-align: top;
}
/*========================================================================*/
/*	Footer bottom  														  */
/*========================================================================*/

.footer_bottom {
	background-color: #1D1F21;
	margin-top: 2em;
}

.copyright {
	font-size: 10pt;
}