border_dark = #323436
bcg_dark = #32353A
bcg_grey = #F5F5F5
main_bcg = #1D1F21
theme_green = #3C9B27
text_grey = #8b8b8b
bcg_dark_grey = #f3f3f3
bcg_light = #FAFAFA
/*========================================================================*/
/*	HTML elements														  */
/*========================================================================*/

body 
	font-family: 'Roboto', sans-serif
	font-weight: 300
	font-size: 16pt
	line-height: 1.7em
	color: #000
	background-color: bcg_light
	display: block


ul 
	li 
		list-style: none
		a:hover
			color: theme_green

/*========================================================================*/
/*	Header    															  */
/*========================================================================*/

header 
	background-color: main_bcg
	color: #FFF

.contact_info,
.social_links 
	margin: 0
	li
		padding: 5px
		display: inline-block
		a
			color: #fff
			font-size: 9pt
			line-height: 0.5em
			letter-spacing: 0.2em
			padding: 0 0.5em
			vertical-align: middle	
			.fa
				margin-right: 0.7em
.contact_info 
	li
		border-left: 1px solid border_dark
		&:last-child 
			border-right: 1px solid border_dark

/*========================================================================*/
/*	Features section													  */
/*========================================================================*/

.features 
	background-color: bcg_light
	color: text_grey
	padding: 3em 0
	font-size: 12pt
	h3
		text-align: center
		margin-bottom: 2em
	.feature_left,
	.feature_right
		h4
			font-size: 14pt
			line-height: 1.5em
			margin-bottom: 1em
			color: #333
		p
			line-height: 1.3em	
		span
			margin: 0.5em 0 1em 0
			text-align: center
			color: #FFF
			i
				font-size: 1.1em
				&:before
					background-color: theme_green
					border-radius: 100%
					height: 3.5em
					width: 3.5em
					line-height: 3.5em
					display: block
					font-size: 1.75em
					position: relative
					text-align: center
					top: 0
	.feature_left,
	.feature_left
		h4, p
			text-align: right
	.feature_left 
		span 
			margin-left: 2em
			float: right
	.feature_right 
		span 
			margin-right: 2em
			float: left

/*========================================================================*/
/*	Plans section														  */
/*========================================================================*/

.plans 
	background-color: bcg_grey
	color: text_grey
	padding: 3em 0
	font-size: 12pt
	h3
		text-align: center
		margin-bottom: 2em
	.plan 
		height: 100%
		text-align: center
		background-color: #fff
		margin-bottom: 2em
		margin-right: 20px
		margin-left: 20px
		.plan_top 
			padding: 0.5em
			h3 
				font-size: 19pt
				font-weight: 500
				line-height: 1.5em
				color: theme_green
			p 
				font-size: 16pt
				font-weight: 500
				color: #000
				line-height: 1.1em
		.plan_bottom
			padding: 0 4em
			ul 
				li
					border-bottom: 1px solid bcg_grey
					padding: 0.5em
		.plan_button
			margin: 2.7em auto
			width: 50%
			background-color: #3c9b27
			padding: 0.6em 1.5em
			border-radius: 3px
			a 
				color: #FFF
				text-decoration: none
			&:hover 
				opacity: 0.8
				cursor: pointer

/*========================================================================*/
/*	Reviews section														  */
/*========================================================================*/

.reviews
	background-color: bcg_light
	color: text_grey
	padding: 3em 0
	font-size: 12pt
	h3
		text-align: center
		margin-bottom: 2em
	.slides
		width: 50%
		margin: auto
		.review
			.comment
				background-color: bcg_dark_grey
				padding: 1.5em
				text-align: justify
				position: relative
				.fa
					text-align: left
					position: absolute
					left: 10%
					top: 10%
				blockquote
					border: none
					margin: 0
			.comment_info
				text-align: left
				width: 30%
				display: inline-block
				margin: 1em 0 0 1em 
				img
					width: 80%
			.client_info
				display: inline-block
				
			
	
		
/*========================================================================*/
/*	Blog posts section													  */
/*========================================================================*/

.blog_posts 
	background-color: bcg_dark_grey
	color: text_grey
	padding: 3em 0
	font-size: 12pt
	min-height: 500px
	.title
		text-align: center
		margin-bottom: 3em
		h3 
			font-size: 20pt
			letter-spacing: 0.2em
			color: #252525
	.blog_post
		height: 100%
		background-color: #fff
		margin-bottom: 3em
		figure 
			margin-bottom: 0.7em
			img 
				width: 100%
				height: auto
		.post 
			margin: 1em 0
			padding: 0 2em
			h4 
				text-align: center
				font-size: 14pt
				line-height: 1.5em
				margin-bottom: 1em
			p 
				text-align: justify
				line-height: 1.5em
				padding-bottom: 1em
			.post_footer 
				a 
					font-size: 9pt
					color: #000
				i 
					font-family: 'FontAwesome'
					font-size: 9pt
					color: theme_green
					margin-right: 0.5em

/*========================================================================*/
/*	Footer   															  */
/*========================================================================*/

footer
	background-color: bcg_dark
	color: text_grey
	padding-top: 2em
	font-size: 12pt

.footer_widget
	h3 
		font-weight: 500
		margin-bottom: 2em
		font-size: 16pt
		color: #FFF
	p 
		font-size: 12pt
		text-align: justify
		line-height: 1.5em
	ul 
		li
			padding-bottom: 0.5em
			a 
				color: text_grey
				&:hover
					color: theme_green
					text-decoration: none
			&:before 
				font-family: 'FontAwesome'
				content: "\f061"
				color: #3C9B27
				font-weight: bold
				margin-right: 0.5em
/*========================================================================*/
/*	Subscribe block 													  */
/*========================================================================*/

.email_block
	margin: 1em 0
	display: table
	border-collapse: separate
	span 
		display: table-cell
		width: 1%
		vertical-align: top
	input[type="email"] 
		background: #42454a
		border: medium none
		border-radius: 3px 0 0 3px
		color: #fff
		height: 3em
		padding-left: 1em
		width: 100%
		outline: none
	input[type="submit"] 
		background: #3C9B27
		color: #fff
		border: medium none
		border-radius: 0 3px 3px 0
		height: 3em
		width: 3em
		padding: 0
		vertical-align: middle

/*========================================================================*/
/*	Footer bottom  														  */
/*========================================================================*/

.footer_bottom 
	background-color: #1D1F21
	padding: 2em
	.social_wrap
		float: right
		li
			padding: 0

.copyright 
	font-size: 10pt

