/*========================================================================*/
/*	HTML elements														  */
/*========================================================================*/

body {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 16pt;
	line-height: 1.7em;
	color: #FFFFFF;
	background-color: #FAFAFA;
	box-sizing: border-box;
}

a {
	-moz-transition: border-bottom-color 0.3s ease-in-out;
	-webkit-transition: border-bottom-color 0.3s ease-in-out;
	-o-transition: border-bottom-color 0.3s ease-in-out;
	-ms-transition: border-bottom-color 0.3s ease-in-out;
	transition: border-bottom-color 0.3s ease-in-out;
	border-bottom: 1px dotted rgba(0, 0, 0, 0.3);
	color: inherit;
	text-decoration: none;
}

a:hover {
	border-bottom: none;
}

a .image {
	margin-bottom: 1em;
	border-radius: 0.25em;
}

h1 {
	font-size: 20pt;
}

p {
	margin: 1.2em 0 1.2em 0;
	font-size: 17pt;
}
/*========================================================================*/
/*	Grid       															  */
/*========================================================================*/

.right {
	float: right;
	padding-right: 0 !important;
}

.left {
	float: left;
}

.w1-2 {
	box-sizing: border-box;
	width: 50%;
	float: left;
	clear: none;
	padding-right: 1em;
}

.fit {
	padding-right: 2em;
}

.w1-3 {
	box-sizing: border-box;
	width: 33.3%;
	clear: none;
	margin-left: 0;
	float: left;
	padding-right: 3em;
}

.w1-3:last-child {
	padding-right: 0;
}

.w8-12 {
	box-sizing: border-box;
	width: 66.6%;
	clear: none;
	margin-left: 0;
	float: left;
}

.w1-1 {
	width: 100%;
	clear: none;
	margin-left: 0;
}

@media (max-width: 768px) and (min-width: 480px) {
	.w1-1-t {
		width: 100%;
		padding-right: 0;
	}
}

@media (max-width: 480px) {
	.w1-1-p {
		width: 100%;
		padding-right: 0;
	}
}
/*========================================================================*/
/*	Header     															  */
/*========================================================================*/

.header {
	padding: 12em 0 12em 0;
	background-image: url('../images/header.jpg');
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	text-align: center;
}

.header a {
	-moz-transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	-ms-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
	display: block;
	border: 1px solid #FFFFFF;
	padding: 0.5em 0 0.5em 0;
	width: 18%;
	margin: 0 auto;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 0.3em;
}

@media (max-width: 768px) and (min-width: 480px) {
	.header a {
		width: 40%;
	}
}

@media (max-width: 480px) {
	.header a {
		width: 60%;
	}
}

.header a:hover {
	-moz-transition: background-color 0.3s ease-in-out;
	-webkit-transition: background-color 0.3s ease-in-out;
	-o-transition: background-color 0.3s ease-in-out;
	-ms-transition: background-color 0.3s ease-in-out;
	transition: background-color 0.3s ease-in-out;
	background-color: rgba(255, 255, 255, 0.5);
}
/*========================================================================*/
/*	Pages      															  */
/*========================================================================*/

.title {
	color: #8F8F8F;
	text-align: center;
	padding: 1em 0 1em 0;
	width: 100%;
}

.page_one,
.page_two,
.page_three {
	color: rgba(255, 255, 255, 0.65);
	padding: 1.5em 0 1.5em 0;
}

.page_one {
	background: linear-gradient(45deg, #b39c68, #a56365, #412e4c);
}

.page_two {
	background: linear-gradient(45deg, #384955, #655361, #85505f);
}

.page_three {
	background: linear-gradient(45deg, #5f796b, #3a4e59, #2f394e);
}

.text {
	font-size: 14pt;
	text-align: justify;
	line-height: 1.5em;
}

.image {
	display: block;
	width: 100%;
	margin: 0 0 2em 0;
	border: none;
}

.image img {
	display: block;
	width: 100%;
	border-radius: 0.5em;
}
/*========================================================================*/
/*	Scroll to top button: 							;					  */
/*========================================================================*/
.scroll_to_top{
	width: 2em;
	height: 2em;
	text-decoration: none;
	position: fixed;
	bottom: 0;
	right: 0;
	line-height: 2.5em;
	display: block;
	font-size: 1.75em;
	text-align:  center;
	border: none;
	color: #ADB3AE;
}
.scroll_to_top:hover{
	text-decoration: none !important;	
	border: none;
	color: #7C827D;
}
/*========================================================================*/
/*	Forms      															  */
/*========================================================================*/

.forms {
	padding-bottom: 0;
}

.forms .container {
	margin-top: 3em;
}

input[type="text"],
textarea {
	box-sizing: border-box;
	line-height: 1.2em;
	font-size: 14pt;
	box-shadow: inset 0 0 0 1px #e6e6e6;
	background: #f8f8f8;
	padding: 0.85em 1em 0.85em 1em;
	border-radius: 0.25em;
	border: 0;
	float: left;
	width: 100%;
}

input[name="email"] {
	width: 100%;
}

textarea {
	width: 100%;
	margin-top: 0.5em;
	float: left;
	min-height: 12em;
}

input[type="submit"] {
	margin-top: 1em;
	background: #3d3d3d;
	padding: 1em 3em 1em 3em;
	border-radius: 0.25em;
	border: 0;
	color: #ffffff;
	font-size: 13pt;
	line-height: 1.5em;
	text-align: center;
	cursor: pointer;
}

.title>h1 {
	margin-top: 0.8em;
}
/*========================================================================*/
/*	Footer     															  */
/*========================================================================*/

footer {
	text-align: center;
	color: #8F8F8F;
	line-height: 1.2em;
	font-size: 12pt;
	background-color: #F2EAEA;
	box-shadow: inset 0 1px 0 0 #e6e6e6;
	margin-top: 2em;
	padding-bottom: 1em;
}

nav {
	text-align: center;
	padding: 2.5em 0 1.5em 0;
}

.links {
	list-style: none;
}

.links li {
	display: inline-block;
	height: 5em;
	line-height: 5.8em;
	position: relative;
	top: 0;
	width: 5em;
}

.links li a {
	color: #3d3d3d;
	text-decoration: none;
	border-bottom: none;
	display: inline-block;
}

.links li a:before {
	-moz-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border: 1px solid #3d3d3d;
	border-radius: 100%;
	height: 2.5em;
	width: 2.5em;
	line-height: 2.5em;
	display: block;
	font-size: 1.75em;
	position: relative;
	text-align: center;
	top: 0;
}

.links li a:hover {
	font-size: 1.1em;
}

.links li a:hover:before {
	background-color: rgba(222, 203, 216, 0.675);
}

.links li a:active {
	font-size: 0.9em;
	background: none;
}

.links li a:active:before {
	background-color: rgba(222, 203, 216, 0.675);
}

.icon {
	position: relative;
}

.icon:before,
.scroll_to_top:before{
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none
}