/*-------------------------------------------------- */
/*    Define Colors					 				 */
/*-------------------------------------------------- */
/*-------------------------------------------------- */
/*    Loader 							 			 */
/*-------------------------------------------------- */
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-posirion: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

/*-------------------------------------------------- */
/*    Modify scrollbar					 			 */
/*-------------------------------------------------- */
::-webkit-scrollbar {
  width: 7px; }

::-webkit-scrollbar-track {
  background: #000000; }

::-webkit-scrollbar-thumb {
  background: #555555; }

::-webkit-scrollbar-thumb:hover {
  border-left: solid 1px #aaa;
  background-color: #eee; }

/*-------------------------------------------------- */
/*    Main Sections					 				 */
/*-------------------------------------------------- */
.countdown {
  background-image: url("../img/bg_1.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  padding: 30px;
  min-height: 500px;
  text-align: center; }
  .countdown .section_header h3 {
    font-size: 48px; }
  .countdown .clock {
    display: inline-block;
    width: 90%; }
    .countdown .clock .dash {
      padding: 0px 30px; }
    .countdown .clock .digit {
      margin-top: 20px;
      font-size: 75px;
      line-height: 60px;
      height: 1em;
      width: 0.55em;
      font-weight: normal;
      display: inline-block;
      overflow: hidden;
      text-align: center;
      position: relative; }
    .countdown .clock .dash_title {
      position: relative;
      bottom: 0px;
      padding-top: 10px;
      font-weight: 300;
      font-size: 16px; }

body {
  font-family: "Raleway", Arial, sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.42;
  color: #333;
  background-color: #fff;
  -webkit-font-smoothing: antialised; }

.no-padding {
  padding: 0; }

.section_header {
  text-align: center;
  padding: 10px 20px 10px 20px; }
  .section_header h3 {
    font-size: 27px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px; }
  .section_header .underline {
    border-top: 1px solid #2baab1;
    width: 70px;
    margin: 20px auto; }
  .section_header p {
    font-size: 12px;
    margin-top: 10px;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 1px; }

/*-------------------------------------------------- */
/*    Subscribe				 						 */
/*-------------------------------------------------- */
.subscribe {
  background-color: #fbfbfb;
  padding: 20px; }

.subsc_form {
  max-width: 400px;
  margin: 20px auto 40px auto; }
  .subsc_form .mail_icon {
    font-size: 20px;
    position: absolute;
    top: 9px;
    left: 1px;
    color: rgba(0, 0, 0, 0.7);
    border-right: solid 1px #dcdcdc;
    padding: 5px 20px; }
  .subsc_form input[type="email"],
  .subsc_form button[type="submit"] {
    font-size: 16px;
    width: 100%;
    height: 50px;
    outline: none;
    letter-spacing: 1px; }
  .subsc_form input[type="email"] {
    border: solid 1px #dcdcdc;
    background-color: #fff;
    padding-left: 70px;
    color: rgba(0, 0, 0, 0.8); }
  .subsc_form button[type="submit"] {
    background-color: #2baab1;
    color: #fff;
    border: none; }
  .subsc_form button[type="submit"]:hover {
    background-color: rgba(43, 170, 177, 0.8); }

/*-------------------------------------------------- */
/*    Features					 					 */
/*-------------------------------------------------- */
.features {
  background-color: #eaeaea;
  padding: 20px; }

.feature {
  margin-top: 10px; }
  .feature .feature_icon {
    border-radius: 50%;
    background-color: #2baab1;
    width: 80px;
    height: 80px;
    line-height: 95px;
    text-align: center;
    margin: auto; }
    .feature .feature_icon i {
      color: #fff;
      font-size: 35px; }
  .feature h4 {
    text-transform: uppercase;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 10px; }
  .feature .underline {
    border-bottom: 1px solid #2baab1;
    width: 50%;
    margin: 10px auto; }
  .feature p {
    font-size: 13px;
    color: #686868;
    text-align: center;
    padding-bottom: 20px; }

/*-------------------------------------------------- */
/*    Team galery					 				 */
/*-------------------------------------------------- */
.team {
  background-image: url("../img/bg_3.jpg");
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  padding: 20px; }
  .team .member_back:last-child,
  .team .member_front:last-child {
    margin-right: 0; }
  .team .member_back,
  .team .member_front {
    border: 1px solid #2baab1;
    border-radius: 5px;
    margin: 15px 20px 20px 0;
    background: rgba(0, 0, 0, 0.4); }
    .team .member_back .photo,
    .team .member_front .photo {
      margin: 15px;
      text-align: center; }
    .team .member_back .descr,
    .team .member_front .descr {
      margin-bottom: 10px; }
      .team .member_back .descr h4,
      .team .member_front .descr h4 {
        text-transform: uppercase;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        padding-bottom: 5px; }
      .team .member_back .descr h6,
      .team .member_front .descr h6 {
        font-size: 15px;
        font-weight: 600;
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #2baab1; }
      .team .member_back .descr p,
      .team .member_front .descr p {
        font-size: 13px;
        color: #686868;
        text-align: center;
        padding: 20px;
        color: #fff; }
    .team .member_back .social_wrap,
    .team .member_front .social_wrap {
      text-align: center;
      line-height: 0; }
    .team .member_back ul,
    .team .member_front ul {
      padding: 0;
      list-style: none; }
      .team .member_back ul li,
      .team .member_front ul li {
        display: inline-block;
        font-size: 20px;
        padding: 0 3px; }
        .team .member_back ul li i,
        .team .member_front ul li i {
          color: #2baab1; }
          .team .member_back ul li i:hover,
          .team .member_front ul li i:hover {
            color: rgba(43, 170, 177, 0.8); }

/*-------------------------------------------------- */
/*    Rotating team cards			 				 */
/*-------------------------------------------------- */
.team .member_container {
  perspective: 800px;
  height: 400px;
  margin-bottom: 30px; }
  .team .member_container:hover .member_card {
    transform: rotateY(180deg); }
  .team .member_container .member_card {
    transition: transform 0.5s;
    transform-style: preserve-3d;
    position: relative;
    height: inherit;
    margin: 0 auto; }
    .team .member_container .member_card .member_front {
      z-index: 2;
      position: relative;
      margin: auto; }
    .team .member_container .member_card .member_back {
      transform: rotateY(180deg);
      z-index: 3;
      padding: 20px 10px;
      text-align: center;
      font-size: 14px;
      font-weight: 300;
      line-height: 2em;
      margin-top: 0; }
    .team .member_container .member_card .member_back,
    .team .member_container .member_card .member_front {
      backface-visibility: hidden;
      position: absolute;
      top: 0;
      left: 0;
      height: 400px; }

.grey {
  background-color: #7E7776 !important; }

.yellow {
  background-color: #DBA047 !important; }

.red {
  background-color: #924B44 !important; }

.green {
  background-color: #789256 !important; }

/*-------------------------------------------------- */
/*    Contact us					 				 */
/*-------------------------------------------------- */
.contacts {
  background-color: #fbfbfb;
  padding: 20px; }
  .contacts form {
    margin: 10px; }
  .contacts input,
  .contacts textarea {
    width: 100%;
    padding: 0 10px;
    margin-bottom: 3px;
    font-size: 14px;
    letter-spacing: 1px;
    border: solid 1px #dcdcdc;
    background-color: #fff;
    outline: none; }
  .contacts textarea:focus,
  .contacts input:focus {
    border-color: #2baab1; }
  .contacts input {
    height: 40px; }
  .contacts textarea {
    padding-top: 10px;
    resize: vertical; }
  .contacts .name_input {
    padding-right: 2px; }
  .contacts .btn {
    text-align: center; }
  .contacts button {
    border: none;
    color: #fff;
    background: #2baab1;
    line-height: 40px;
    padding: 0 25px;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px; }
    .contacts button:hover {
      background: rgba(43, 170, 177, 0.8); }

/*-------------------------------------------------- */
/*    Footer					 					 */
/*-------------------------------------------------- */
.main_footer {
  background-color: #222;
  color: #fff;
  padding: 30px; }
  .main_footer .social_wrap {
    float: right;
    line-height: 0; }
    .main_footer .social_wrap ul {
      margin: 0;
      float: right;
      list-style: none; }
      .main_footer .social_wrap ul li {
        display: inline-block;
        font-size: 20px;
        padding: 0 3px; }
        .main_footer .social_wrap ul li i {
          color: #2baab1; }
          .main_footer .social_wrap ul li i:hover {
            color: rgba(43, 170, 177, 0.8); }

/*# sourceMappingURL=main.css.map */
