/*==========  Desktop First Method  ==========*/
/* Large Devices, Wide Screens */

@media only screen and (max-width: 1200px) {}
/* Medium Devices, Desktops */

@media only screen and (max-width: 992px) {
	.countdown .clock {
		width: 100%;
	}
	.countdown .clock .dash {
		padding: 0 20px;
	}
	.countdown .clock .dash .digit {
		font-size: 65px
	}
	.contacts .name_input {
		padding-right: 0;
	}
}
/* Small Devices, Tablets */

@media only screen and (max-width: 768px) {
	.main_footer .copyright {
		text-align: center;
	}
	.main_footer .social_wrap ul {
		float: none;
		text-align: center;
		padding-left: 0;
		margin-top: 20px;
	}
	.main_footer .social_wrap ul li {
		font-size: 30px;
	}
	.team .member,
	.team .member:last-child {
		width: 300px;
		margin: 20px auto;
	}
}
/* Extra Small Devices, Phones */

@media only screen and (max-width: 480px) {
	.team .member,
	.team .member:last-child {
		width: 250px;
		margin: 20px auto;
	}
}
/* Custom, iPhone Retina */

@media only screen and (max-width: 320px) {}
/*==========  Mobile First Method  ==========*/
/* Custom, iPhone Retina */

@media only screen and (min-width: 320px) {}
/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}
/* Small Devices, Tablets */

@media only screen and (min-width: 768px) {}
/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {}
/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {}